/* Report style sheet */
.odd{
	background-color: #DCDCDC;
	font-family: sans-serif;
}
.even{
	background-color: #F5F5F5;
	font-family: sans-serif;
}
.title{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2em;
}
.footer{
	background-color: #F5F5F5;
	font-family: sans-serif;
	font-color: #DCDCDC;
	font-size: .66em;
}
